.cell {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: #3abcff;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.grid_cheat .cell_che {
    background-color: #3abcff;
}