.menu {
    width: 240px;
    margin: 20px auto;
    padding: 5px 40px;
    font-size: 12px;
    color: #999;
    background: url('bem-logo_small.png') no-repeat left bottom;
}

.menu a {
    color: #547ecb;
    transition: all 0.2s;
}

.menu a:hover {
    color: #3abcff;
    transition-delay: 0;
}

.menu__reset, .menu__validate, .menu__cheat, .menu__name {
    display: inline-block;
    margin-right: 5px;
}

.menu__name {
    margin-right: 20px;
}

.menu__header {
    margin-top: 20px;
}

.menu__reset, .menu__cheat, .menu__validate {
    border-radius: 3px;
    background-color: #547ecb;
    transition: all 0.2s;
    color: white;
    cursor: pointer;
    padding: 3px 6px;
}
.menu__cheat {
    background-color: #eee;
}
.menu__reset:hover, .menu__cheat:hover, .menu__validate:hover {
    background-color: #38a3df;
    box-shadow: inset 0 1px 4px rgba(51, 51, 51, 0.69);
}

.menu.menu_cheat .menu__cheat {
    background-color: #6f41ff;
}