.intro {
    width: 240px;
    margin: 20px auto;
    padding: 5px 40px;
    font-size: 12px;
    color: #999;
    background: url('bem-logo_small.png') no-repeat left top;
}

.intro a {
    color: #547ecb;
}

.intro a:hover {
    color: #3abcff;
    transition: 0.2s;
}