.intro {
    width: 240px;
    margin: 20px auto;
    padding: 5px 40px;
    font-size: 12px;
    color: #999;
    background: url('bem-logo_small.png') no-repeat left bottom;
}

.intro a {
    color: #547ecb;
    transition: all 0.2s;
}

.intro a:hover {
    color: #3abcff;
    transition-delay: 0;
}

.intro__reset, .intro__validate, .intro__cheat, .intro__name {
    display: inline-block;
    margin-right: 5px;
}

.intro__name {
    margin-right: 20px;
}

.intro__header {
    margin-top: 20px;
}

.intro__reset, .intro__cheat, .intro__validate {
    border-radius: 3px;
    background-color: #547ecb;
    transition: all 0.2s;
    color: white;
    cursor: pointer;
    padding: 3px 6px;
}
.intro__cheat {
    background-color: #eee;
}
.intro__reset:hover, .intro__cheat:hover, .intro__validate:hover {
    background-color: #38a3df;
    box-shadow: inset 0 1px 4px rgba(51, 51, 51, 0.69);
}

.intro.intro_cheat .intro__cheat {
    background-color: #6f41ff;
}