.intro {
    width: 240px;
    margin: 20px auto;
    padding: 5px 40px;
    font-size: 12px;
    color: #999;
    background: url('bem-logo_small.png') no-repeat left top;
}

.intro a {
    color: #547ecb;
    transition: all 0.2s;
}

.intro a:hover {
    color: #3abcff;
    transition-delay: 0;
}

.intro__reset, .intro__cheat, .intro__name {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 0;
}

.intro__name {
    margin-right: 20px;
}

.intro__reset, .intro__cheat {
    border-radius: 3px;
    background-color: #547ecb;
    transition: all 0.2s;
    color: white;
    cursor: pointer;
    padding: 3px;
}
.intro__cheat {
    background-color: #eee;
}
.intro__reset:hover, .intro__cheat:hover {
    background-color: #3abcff;
}

.intro.intro_cheat .intro__cheat {
    background-color: #6f41ff;
}